* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: .95rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #399c39;
    transition: color 0.3s;

    &:hover {
        color: #445533;
    }
}

body {
    position: relative;
    background: linear-gradient(135deg, #252525 0%, #151515 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body::after {
    display: block;
    height: 100px;
}

h1 {font-size: 2.25rem; color: #e6e6e6; margin: 0;}
h2 {font-size: 2rem; color: #e6e6e6; margin: 0 0 10px 0;}
h3 {font-size: 1.75rem; color: #e6e6e6; margin: 0;}
h4 {font-size: 1.5rem; color: #e6e6e6; margin: 0;}
h5 {font-size: 1.25rem; color: #e6e6e6; margin: 0;}
h6 {font-size: 1rem; color: #e6e6e6; margin: 0;}
p {font-size: 1rem; color: #e6e6e6; margin: 0;}
label {font-size: 1rem; color: #e6e6e6; margin: 0;}

.grey {
    color: #777;
}

hr {
    border: none;
    border-top: 2px solid #555;
    margin: 5px 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    background: #151515;
    box-shadow: 2px 0 25px #111;
    gap: 20px;

    h1 {
        font-weight: 600;
    }
}

.logo {
    width: 150px;
    height: auto;
}

.logo2 {
    width: 250px;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.skill-label {
    width: 150px;
    font-size: .95rem !important;
    font-weight: 400;
}

.skill-meter {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background: #333333;
    overflow: hidden;
}

.skill-meter-fill {
    color: #e6e6e6;
    background: #399c39;
    height: 100%;
    padding: 8px;
    text-align: right;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #111;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 0 15px #111;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #111;
    color: #e6e6e6;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;

    &:hover {
        color: #e6e6e6;
        background: #399c39;
        text-decoration: none;
    }
}

pre {
    display: flex;
    position: relative;
    justify-content: start;
    box-sizing: border-box;
    flex-wrap: wrap;
    background: #333;
    color: #e6e6e6;
    border-radius: 5px;
    width: 100%;
}

code {
    box-sizing: border-box;
    color: #e6e6e6;
    padding: 17px;
    overflow-x: auto;
    width: calc(100% - 65px);
}

.copy_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0668A3;
    color: #e6e6e6;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;

    &:hover {
        background: #055485;
    }
}

.copied_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
}

.task {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    color: #e6e6e6;
    background: #151515;
    border-radius: 5px;
}

#form_info {
    display: flex;
    flex-direction: column;
    font-size: .95rem;
    color: #999;
    font-weight: 600;
    margin-bottom: 10px;
}


/* Responsive */

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .skill {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .skill-label {
        width: 100%;
    }
    .input_group {
        flex-direction: column;
    }
    
}